# dependencies
node_modules/
**/node_modules/

# build outputs & caches
dist/
**/dist/
out/
*.tgz

# other caches
.vite/
**/.vite/
.turbo/
**/.turbo/
*.tsbuildinfo
**/.vitepress/cache/

# local data & logs
data/
logs/
scripts/
*.log
.env
.DS_Store

# editor junk
.eslintcache
.cache
coverage/
report.*.json

apps/server/public/control/
apps/server/public/overlay/
apps/studio/src-tauri/